@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

body {
    margin-top: 4rem;
    background: rgb(50, 50, 50);
    color: white;
}

h1 {
    text-align: center;
    font-size: 56px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 56px;
    font-family: 'Rajdhani', sans-serif;
    color: white;
}

h3 {
    font-family: 'Rajdhani', sans-serif;
}

h4 {
    font-family: 'Rajdhani', sans-serif;
}

.try-again {
    padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;
}

h5, .deleteBtn {
    margin-bottom: 1rem;
}

.have-acc {
    margin-top: 4.5rem;
}

.todos {
    margin-bottom: 5rem;
}

.create, .sign-in {
    padding:1em;
    text-align: center;
    display:inline-block;
    text-decoration: none !important;
    margin:0 auto;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.todo-list, .btnForm {
    text-align: center;
}

.btnDelete {
    margin-bottom: 1rem;
}

